[submodule "simple-message-db"]
	path = simple-message-db
	url = https://github.com/sankarshan-kundu/simple-message-db.git
[submodule "simple-message-api"]
	path = simple-message-api
	url = https://github.com/sankarshan-kundu/simple-message-api.git
